nextSong()
{
    ITERATOR=$(($ITERATOR+1))
    if [ $ITERATOR -ge ${#SONGS[@]} ]; then
        ITERATOR=0
    fi
}

prevSong()
{
    ITERATOR=$(($ITERATOR-1))
    if [ $ITERATOR -lt 0 ]; then
        ITERATOR=$((${#SONGS[@]}-1))
    fi
}

mp3Player()
{
  PAUSED="false"
  ffplay_pid="null"
  PLAYING="true"
  ZENITY_PID=0
  ITERATOR=0
  CAN_DISPLAY="true"
  STOPPED_TEMP="false"

  # ffplay -v 0 -nodisp -autoexit testowy.mp3 &
  # ffplay_pid=$!

  while [ "$PLAYING" == "true" ]; do
    autoNext="false"
    if [ "$PAUSED" == "false" ]; then
      ffplay -v 0 -nodisp -autoexit ${SONGS[$ITERATOR]} &
      ffplay_pid=$!
      PAUSED="true"
    fi
    if [ $ZENITY_PID -eq 0 ]; then
          getStats
          TEXT_ON_PLAY='Playlista: '$PLAYLIST_NAME'\nUtwór: '$(($ITERATOR+1))'/'${#SONGS[@]}'\nUtwór: '${SONGS[ITERATOR]}'\nCałkowity czas trwania: '$SUM_DURATION'\nSredni czas trwania utworu: '$AVERAGE_DURATION'\nRozmiar: '$SUM_SIZE
          PLAY_TEMP=$(mktemp)
          (zenity --info --title 'Choose!' \
          --text "$TEXT_ON_PLAY"\
          --ok-label "Zamknij" \
          --extra-button 'Play' \
          --extra-button "Stop" \
          --extra-button "<<" \
          --extra-button ">>" \
          --extra-button "zapisz do playlisty" \
          > $PLAY_TEMP) &
          ZENITY_PID=$!
    fi

    while ps -p $ffplay_pid > /dev/null && ps -p $ZENITY_PID > /dev/null
    do
       sleep 1
    done
    if ps -p $ZENITY_PID > /dev/null && [ "$STOPPED_TEMP" == "false" ]
    then
      kill $ZENITY_PID
      ZENITY_PID=0
      nextSong
      PLAYING="true"
      PAUSED="false"
      autoNext="true"
    fi
    if [ "$autoNext" == "false" ]; then
        if [ "$STOPPED_TEMP" == "true" ]; then
            wait $ZENITY_PID
        fi
        RESPONSE=$(cat $PLAY_TEMP)
        rm $PLAY_TEMP
        if [ "$RESPONSE" == "" ] && [ "$STOPPED_TEMP" == "false" ] ; then
            # Exit apllication
            PLAYING="false"
            ZENITY_PID=0
            handleExit
        elif [ "$RESPONSE" == 'Play' ]; then
            # play files
            killer
            PAUSED="false"
            STOPPED_TEMP="false"
            ZENITY_PID=0
        elif [ "$RESPONSE" == 'Stop' ]; then
            # stop playing
            killer
            PAUSED="true"
            STOPPED_TEMP="true"
            PLAYING="true"
            ZENITY_PID=0
        elif [ "$RESPONSE" == '<<' ]; then
            # go to previous
            killer
            prevSong
            PLAYING="true"
            PAUSED="false"
            ZENITY_PID=0
        elif [ "$RESPONSE" == '>>' ]; then
            # go to next
            killer
            nextSong
            PLAYING="true"
            PAUSED="false"
            ZENITY_PID=0
        elif [ "$RESPONSE" == 'zapisz do playlisty' ]; then
            # save playlist
            ZENITY_PID=0
            killer
            NamePickerPlaylistView
        fi
    fi
  done
  echo $RESPONSE
  startView
}