time_to_ms() {
    time=$1
    h=$(echo $time | awk -F":" '{print $1}')
    m=$(echo $time | awk -F":" '{print $2}')
    s=$(echo $time | awk -F":" '{print $3}' | awk -F"," '{print $1}')
    ms=$(echo $time | awk -F"," '{print $2}')
    
    total_ms=$(( ($h * 3600000) + ($m * 60000) + ($s * 1000) + ($ms) ))
    echo $total_ms
}

# Function to convert milliseconds to time
ms_to_time() {
    ms=$1
    h=$((ms / 3600000))
    m=$(((ms % 3600000) / 60000))
    s=$((((ms % 3600000) % 60000) / 1000))
    ms=$((ms % 1000))

    printf "%02d:%02d:%02d,%03d" $h $m $s $ms
}