getStats()
{
  EPOCH='jan 1 1970'
  SUM_DURATION=0
  SUM_SIZE=0

  for element in "${SONGS[@]}"; do
    DURATION=$(ffmpeg -i $element 2>&1 | grep "Duration" | cut -d ' ' -f 4 | sed 's/,$//')
    SIZE=$(stat -c "%s" $element)
    SUM_SIZE=$(($SUM_SIZE+SIZE))
    
    #DURATION=$(time_to_ms  $DURATION)
    DURATION=$(date -u -d "$EPOCH $DURATION" +%s)
    SUM_DURATION=$(( $DURATION+ $SUM_DURATION))
  done
  AVERAGE_DURATION=$(($SUM_DURATION/${#SONGS[@]}))
  AVERAGE_DURATION=$(date -d@$AVERAGE_DURATION -u +%M:%S)
  SUM_DURATION=$(date -d@$SUM_DURATION -u +%H:%M:%S)
}
