# Codes for commucation with zenity
ERROR_CODE=0
EXIT_CODE=0
EXAMPLE_FILES_CODE=1
CUSTOM_FILES_CODE=2
PLAYLIST_PICKER_CODE=3
PLAY_CODE=4
PAUSE_CODE=5
NEXT_CODE=6
PREVIOUS_CODE=7
SAVE_PLAYLIST=8
# Variables to help
CONFIG_FILE_PATH="playlist.txt"