startView()
{
    RESPONSE=$(zenity --info --title 'mp3 player' \
            --text 'Witamy w odtwarzaczu mp3, wybierz co chcesz zrobić' \
            --ok-label "Zamknij" \
            --extra-button 'Odtwórz przykładowe pliki' \
            --extra-button "Wybierz pliki do odtworzenia" \
            --extra-button "Wybierz playliste do odtworzenia"
            )
    rc=$?

    RESPONSE=${RESPONSE}

    if [ $rc -eq 0 ]; then
        # Exit apllication
        exit
    elif [ "$RESPONSE" == 'Odtwórz przykładowe pliki' ]; then
        # play example files
        PLAYLIST_NAME="Przykladowe pliki"
        mp3Player
    elif [ "$RESPONSE" == 'Wybierz pliki do odtworzenia' ]; then
        # Pick files to play
        PLAYLIST_NAME="Nowe pliki"
        mp3PickerView
    elif [ "$RESPONSE" == 'Wybierz playliste do odtworzenia' ]; then
        # pick playlist to play
        playlistPickerView
    else
        echo "Dialog closed or an error occurred"
        # Error, exit apllication
    fi
}

playlistPickerView()
{
    # Declare an empty array
    file_contents=()
    if [ -r playlist.txt ]; then
        PLAY_TEMP=$(mktemp)
        cat $CONFIG_FILE_PATH | sed -e "s/\r//g" > $PLAY_TEMP
        mv $PLAY_TEMP $CONFIG_FILE_PATH
        # Read the file line by line and append each line to the array
        file_contents=()
        while read WIERSZ; do
            file_contents+=("$WIERSZ")
        done < $CONFIG_FILE_PATH
    else
        touch $CONFIG_FILE_PATH
    fi

    RESPONSE=`zenity --list \
            --title "Wybierz playliste do odtworzenia" \
            --height 480 \
            --width 620 \
            --column "playlista" "${file_contents[@]}"`

    # Prepare songs
    PLAYLIST_NAME=$RESPONSE

    CUR_PLAYLIST="$RESPONSE.playlist"
    SONGS=()
    if [ -r "$CUR_PLAYLIST" ]; then
        PLAY_TEMP=$(mktemp)
        cat $CUR_PLAYLIST | sed -e "s/\r//g" > $PLAY_TEMP
        mv $PLAY_TEMP $CUR_PLAYLIST
        # Read the file line by line and append each line to the array
        while read WIERSZ; do
            SONGS+=("$WIERSZ")
        done < "$CUR_PLAYLIST"
    fi
    mp3Player
}

mp3PickerView()
{
    FILE=$(zenity \
        --file-selection \
        --title="Wybierz pliki do zagrania" \
        --multiple
        )
    #prepare songs
    IFS='|'
    FILES=($FILE)

    SONGS=()
    for CUR_FILE in "${FILES[@]}"; do
    if file -b --mime-type "$CUR_FILE" | grep -q "audio/mpeg"; then
        SONGS+=("$CUR_FILE")
    fi
    done
    mp3Player
}

NamePickerPlaylistView()
{
    NEW_PLAYLIST_DATE=$(date +%s)
    RESPONSE=$(zenity --entry \
            --title="Nowa playlista" \
            --text="Nadaj nazwe swojej playliscie" \
            --entry-text "playlista${NEW_PLAYLIST_DATE}")
    echo $RESPONSE >> $CONFIG_FILE_PATH
    
    RESPONSE=$RESPONSE".playlist"
    touch $RESPONSE
    for CUR_SONG in "${SONGS[@]}"; do
        echo $CUR_SONG >> $RESPONSE
    done

    mp3Player
}

handleExit()
{
    killer
}

killer()
{
    if ps -p $ffplay_pid > /dev/null
    then
        kill $ffplay_pid
        #ffplay_pid="null"
    fi
}